body{
    
}

#bg{
    width: 100%;
    height: 100%;
}

#bgimg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#logodiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 235px;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
    #logo{
        width: 30%;
    }
}

@media only screen and (max-width: 450px) {
    #logo{
        width: 130px;
    }
}

#formdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    top: -30px;
    z-index: 0;
}

#regForm{
    padding: 30px;
    background: #02020266;
    border-radius: 20px;
}

#regForm h1{
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.name{
    display: inline-block;
    text-align: left;
}

.name input{
    width: auto;
}

input, label{
    border-radius: 8px;
    margin: 5px;
    width: 95%;
}

input{
    padding-left: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(13, 14, 14);
    box-shadow: -3px 4px 11px black;
    height: 25px;
}

.required{
    color: #660000;
}

#btndiv{
    text-align: center;
}

#submitbtn{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: -3px 4px 11px black;
}

#submitbtn:hover{
    background: #00ffad;
}